.login-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdfdfd;
  padding: 40px;
}

.login-form {
  max-width: 400px;
  width: 100%;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.login-form h2 {
  color: #2d3a4b;
  font-family: "Lucida Sans", sans-serif;
}

.login-form .subtitle {
  margin-bottom: 20px;
  font-size: 14px;
  color: #999;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.login-form button {
  background: #2d3a4b;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.login-form button:hover {
  background: #ffe115;
  color: #2d3a4b;
}

.error-msg {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}
